@font-face {
  font-family: "MuseoRegular";
  src: url("../fonts/MuseoRegular.eot");
  src: url("../fonts/MuseoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MuseoRegular.woff") format("woff"),
  url("../fonts/MuseoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}