@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/carousel";
@import "fonts";
@import "../sprite/sprite";

$theme-green-color:#39b372;
$theme-green-dark:#161a17;

body {
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color:$theme-green-dark;
}

button,
input[type=submit],
button:focus,
button:active,
button:hover {
  outline: none;
  border: none;
}

.font-spectral {
  font-family: 'Spectral', serif;
}

.header {
  padding-top: 30px;
  padding-bottom: 32px;
  &-logo {
    width: 300px;
    float: left;
  }
  &-phones {
    width: 570px;
    float: left;
    font-size: 20px;
    line-height: 4rem;
    font-weight: bold;
    span:first-child {
      margin-right: 55px;
    }
  }
  &-callback {
    float: left;
    button {
      @include button-outline-variant( $theme-green-color );
      @include button-variant( $theme-green-color, $theme-green-color );
      @include button-size( 20px, 32px, 1rem, 150%, 3px );

      color:#FFF;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.banner-head {
  position: relative;
  &__bg {
    position: absolute;
    right: 0;
    width: 43.5%;
    height: 100%;
    background: url("../img/promo-banner.jpg") center;
    background-size: cover;
    &:before {
      content: "";
      background-color: transparentize( #f5b8cb, .8 );
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    max-width: 560px;
    h1 {
      font-size: 40px;
      font-family: MuseoRegular, sans-serif;
      font-weight: 500;
      line-height: 1.2;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
  }

  &__quote {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__bottom_btn {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    button {
      @include button-outline-variant( $theme-green-color );
      @include button-variant( $theme-green-color, $theme-green-color );
      @include button-size( 20px, 32px, 1rem, 150%, 2rem );
      color:#FFF;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__carousel {
    background-color: $white;
    padding-top: 40px;
    padding-bottom: 10px;
    border-top-right-radius: 8px;
    min-height: 130px;
    .carousel-inner {
      max-width: 475px;
    }
    &-item {

      .big-num {
        float: left;
        line-height: 1.1;
        margin-right: 2rem;
      }
    }
    &-control {
      border: 1px solid rgb(192, 204, 197);
      border-radius: 50%;
      position: absolute;
      width: 46px;
      height: 46px;
      bottom: calc(50% - 46px);
      text-align: center;
      line-height: 43.5px;
      .angle {
        display: inline-block;
      }
      &--prev {
        right: 80px;
        .angle {
          @include sprite( $angle-left );
        }
      }
      &--next {
        right: 20px;
        .angle {
          @include sprite( $angle-right );
        }

      }
    }
  }
}

.quote {
  position: relative;
  font-family: MuseoRegular, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color:#57665e;
  padding-left: 70px;
  display: inline-block;
  &:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 100%;
    top: 0;
    left: 35px;
    background-color: #9bdec0;
  }
}

.big-num {
  font-size: 72px;
  font-weight: bold;
}

.info-block {
  position: relative;
  border-radius: 16px;
  background-color: rgb(251, 243, 241);
  padding: 40px 70px 30px;
  margin-top: 105px;
  .text {
    font-size: 24px;
    color:#544946;
    max-width: 725px;
    display: inline-block;
  }
  & > img {
    position: absolute;
    bottom: 0;
    right: 30px;
  }
}

.section-title {
  font-size: 24px;
  font-family: MuseoRegular, sans-serif;
  font-weight: 500;
}

.section-about {
  margin-top: 5rem;
  .section-title {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  p.text {
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 30px;
  }
}

.section {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.image-layer {
  position: relative;
  height: 100%;
  &:before {
    position: absolute;
    content: "";
    background-color: #eaf6f0;
    width: calc(100% + 35px);
    height: calc(100% + 35px);
    left: 70px;
    bottom: 0;
    top:auto;
  }
  &:after {
    position: absolute;
    content: "";
    background: url("../img/mom-baby.jpg") 0 center no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

.b-what {
  margin-top: 42px;
  margin-bottom: 24px;
  &__icon {
    margin-bottom: 2rem;
    &--certificate {
      @include sprite( $icon-certificate );
    }
    &--list {
      @include sprite( $icon-list );
    }
    &--secure {
      @include sprite( $icon-secure );
    }
    &--hand {
      @include sprite( $icon-hand );
    }
  }
  &__text {
    font-size: 1rem;
    line-height: 26px;
  }
}

.section-simptom {
  background-color: #fbf3f1;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  &__image {
    background: url("../img/simptom-image.jpg") 100% center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 43.5%;
    height: 100%;
    background-size: cover;
    &:before {
      display: inline-block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: transparentize( #f5b8cb, .6 );
    }
  }

  .simptom-list {
    padding-left: 0;
    margin-top: 2rem;
    max-width: 600px;
    list-style: none;
    & > li {
      position: relative;
      font-size: 18px;
      line-height: 30px;
      display: inline-block;
      padding-left: 70px;
      margin-bottom: 1rem;
      &:before {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $theme-green-color;
        top: 13px;
        left: 22px;
      }
    }
  }
}

.section-steps {
  padding-top: 60px;
  padding-bottom: 60px;
  .section-title {
    font-size: 2rem;
    margin-left: 70px;
  }
  .steps-images {
    margin-top: -13px;
  }
  .steps-list {
    padding: 0;
    max-width: 460px;
    display: block;
    margin: 2rem auto 1rem auto;
    & > li {
      list-style: none;
      width: 100%;
      & > span {
        display: inline-block;
      }
      & > .num {
        font-size: 72px;
        font-family: Spectral, sans-serif;
        color:#f5b8cb;
        font-weight: 700;
        width: 100px;
      }
      & > .text {
        font-size: 18px;
        line-height: 30px;
        width: calc(100% - 100px);
        a {
          color: $theme-green-color;
          text-decoration: underline;
          font-weight: 600;
        }
      }
    }
  }
  .steps-result {
    font-size: 24px;
    font-weight: 600;
    color:#57665e;
    float: right;
  }
}