doctype
html(lang="ru")
    include includes/_header.pug
    body
        .container
            .row
                .col.header
                    .header-logo
                        img(src="img/logo.png",alt="Название сайта")
                    .header-phones
                        span.font-spectral +7 (499) 737-23-74
                        span.font-spectral +7 (499) 450-31-81
                    .header-callback
                        button.move-to-form.d-none.d-xl-block Записаться на обследование
                        button.move-to-form.d-none.d-md-block.d-xl-none Записаться
        .banner-head
            .banner-head__bg
            .container
                .row
                    .col-12.col-xl-7
                        .banner-head__text
                            h1.text-center.text-xl-left Эстетическая гинекология
                                br
                                | В клинике Армедика
                            p.text-center.text-md-left Наша клиника единственная в Москве предоставляет услугу безоперационной вагинальной пластики для лечения стрессового недержания мочи и синдрома вагинальной релаксации, при помощи лазерного аппарата последнего поколения корейской компании «LUTRONIC».
                        .banner-head__quote
                            span.quote Наш приоритет — надежное решение проблем женского здоровья и улучшения качества жизни.
                .row
                    .col-12.col-xl-7.order-xl-2
                        .banner-head__carousel.carousel.slide(data-ride="carousel",data-interval="8500",id="banner_carousel")
                            .carousel-inner
                                .banner-head__carousel-item.carousel-item.active.text-center.text-md-left
                                    span.big-num.font-spectral 30%
                                    span.text Женщин не получают удовлетворения от половой жизни по причине синдрома вагинальной релаксации
                                .banner-head__carousel-item.carousel-item.text-center.text-md-left
                                    span.big-num.font-spectral 5%
                                    span.text Мужчин не довольны что их женьщины не получают удовольствие от половой жизни по какой то причине
                                .banner-head__carousel-item.carousel-item.text-center.text-md-left
                                    span.text А тут просто текст без всяких статистик в виде процентов. Нужен что бы проверить как это выглядет обычным текстом. И ещё одна строчка для симетрии =)
                            a.banner-head__carousel-control.banner-head__carousel-control--prev(href="#banner_carousel",data-slide="prev")
                                span.angle
                            a.banner-head__carousel-control.banner-head__carousel-control--next(href="#banner_carousel",data-slide="next")
                                span.angle
                    .col-12.col-xl-5.order-xl-1
                        .banner-head__bottom_btn
                            button.move-to-form Получить консультацию
        .container
            .row
                .col-12
                    .info-block.mb-4
                        span.text.text-center.text-md-left Достаточно 3 процедуры лазерной вагинальной пластики Petit Lady для вульво-вагинального омоложения без хирургического вмешательства
                        img(src="img/doctor.png")

        .section-about.section
            .container
                .row
                    .col-12.col-md-6.col-xl-7
                        .image-layer
                    .col-12.col-md-6.col-xl-5.block-layer
                        h3.section-title Процедура Petit Lady —
                            br
                            | это лазерная подтяжка влагалища
                        p.text Принципиальные условия которой — комфорт и безопасность.Воздействие лазера запускает важные биохимические процессы в слизистой влагалища, что стимулирует образование коллагена. Это ведет к сужению и укреплению стенок влагалища, значительному повышению эрогенной чувствительности и улучшению цвета промежности.
        .section
            .container
                .row
                    .col-12.col-xl-7
                        h3.section-title.text-center.text-md-left Что отличает процедуру Petit Lady от других способов вульво-вагинального омоложения?
                    .col-12
                        .row
                            .col-12.col-md-6.col-xl-3
                                .b-what
                                    .b-what__icon.b-what__icon--certificate
                                    .b-what__text Абсолютная безопасность в проведении процедуры
                            .col-12.col-md-6.col-xl-3
                                .b-what
                                    .b-what__icon.b-what__icon--list
                                    .b-what__text Отсутствие побочных эффектов после процедуры
                            .col-12.col-md-6.col-xl-3
                                .b-what
                                    .b-what__icon.b-what__icon--secure
                                    .b-what__text Гарантия результата в лечении вагинальных проблем
                            .col-12.col-md-6.col-xl-3
                                .b-what
                                    .b-what__icon.b-what__icon--hand
                                    .b-what__text Быстрое восстановление организма
        .section-simptom
            .container
                .row
                    .col-12.col-xl-7
                        h3.section-title Процедура Petit Lady
                            br
                            | оптимальный выбор при
                        ul.simptom-list
                            li индроме вагинальной релаксации
                            li опущение стенок влагалища
                            li начальной стадии опущения матки
                            li стрессовом недержании мочи
                            li растянутости и ослаблении стенок влагалища
                            li потери сексуальной удовлетворенности и отсутствии оргазмов
                            li снижении упругости и чувствительности влагалища
                            li появлении характерных звуков во время полового акта
                            li неудовлетворенности цветом промежности
            .section-simptom__image

        .section-steps
            .container
                .row
                    .col-12.col-xl-7.steps-head
                        h3.section-title 5 простых шагов
                         br
                         | процедуры Petit Lady
                        .steps-images
                            img(src="img/steps-image.png")
                    .col-10.col-md-8.col-xl-5.offset-1.offset-md-2.offset-xl-0
                        ul.steps-list
                            li
                                span.num 01
                                span.text
                                    a.move-to-form(href="#callback") Отправить заявку
                                    |  для получения консультации
                            li
                                span.num 02
                                span.text Сдать анализ мазка на микрофлору и анализ крови для подготовки к лазерной пластике
                            li
                                span.num 03
                                span.text Прийти на проведение вагинальной пластики
                            li
                                span.num 04
                                span.text Подождать  2-3 недели до следующей процедуры
                            li
                                span.num 05
                                span.text Возвращаетесь к нам еще на 2 процедуры
                        i.steps-result.font-spectral В результате наслаждаетесь
                            br
                            | красотой и здоровьем!
        .container
            .row
                .col-12
                    .info-block.mb-4.mt-5
                        span.text Вы можете быть уверены в результате, потому что мы проводим пластику с помощью лазерного аппарата корейской компании «LUTRONIC» «ACTION II»
                        img(src="img/s4a.png")

        .section-apparat
            .container
                .row
                    .col-12.col-xl-8
                        span.quote Аппарат«ACTION II» — многофункциональный лазер, активно использующийся в косметологии, хирургии, урологии, дерматологии и гинекологии.
                    .col-12.col-xl-7
                        h3.section-title.text-center Чем этот аппарат лучше других?
                        ul.apparat-list
                            li Признанный мировой лидер в индустрии медицинских лазерных систем
                            li YAG-лазерная платформа для выбора широкого спектра эстетических процедур
                            li Обладает запатентованным дизайном специальных манипул (PETIT -360 и PETIT-90)
                            li Устройство оснащено обычным режимом лазерной шлифовки и длительным импульсным режимом коагуляции
                    .col-12.col-xl-5
                        .apparat-image
                            img.img-fluid(src="img/apparat.png")
        .section-about.section
            .container
                .row
                    .col-12.col-md-6.col-xl-7
                        .image-layer.image-layer--doc
                    .col-12.col-md-6.col-xl-5.block-layer
                        h3.section-title Гармония красоты и здоровья пациентов — цель команды клиники Армедика
                        p.text Наши врачи - доктора и кандидаты медицинских наук, врачи высшей категории. Ежегодно участвуют в медицинских европейских и отечественных конференциях.
                        p.bottom-text Мы помогаем восстановить здоровье уже более 5 лет!

        .section-services
            .container
                .row
                    .col-12.col-xl-4
                        h3.section-title Клиника Армедика - это центр медицинской помощи женщинам и детям. Наш спектр  услуг:
                        .services-nav
                    .col-12.col-xl-8
                        .service-list
                            .service-list__item.one
                                span.title Лечение заболеваний в области гинекологии, урологии, онкологии и эндокринологии
                            .service-list__item.two
                                span.title Акушерство
                            .service-list__item.three
                                span.title Терапия

        .section-review
             .container
                 .row
                     .col-12.col-xl-4
                         h3.section-title Что говорят
                            br
                            | наши пациенты
                         .reviews-nav
                     .col-12.col-xl-8
                         .reviews-list__layer.reviews-list__layer--first
                         .reviews-list__layer.reviews-list__layer--second
                         .reviews-list

                             .reviews-list__item
                                 span.title.section-title Татьяна, 25 лет
                                 span.text После рождения ребенка, моя сексуальная жизнь постепенно начала сходить на нет, все из-за послеродового вагинального растяжения. В процессе полового акта, я не получала удовлетворения, а самое неприятное, по мужу было видно,что он тоже не испытывает былых ощущений. Услышав от знакомой о чудодейственном эффекте вагинальной пластики, было решено незамедлительно исправлять ситуацию. После долгих поисков подходящей клиники, я наконец-то остановила свой выбор на клинике Армедика. Мало того,что во время процедуры “Petit Lady” я не испытала никаких болезненных ощущений, так эффект полностью превзошел все ожидания. Помимо омоложения влагалища,у меня также пропали сухость и жжение, а в каком изумлении и радости был мой муж, просто невозможно описать. Однозначно данная процедура станет спасением для многих женщин. От лица мужа и себя хочу выразить огромную благодарность доктору Аржане Байрамовне за профессиональный подход и обещанный результат.
                             .reviews-list__item
                                 span.title.section-title Зинаида, 31 год
                                 span.text Разновидность тоталитаризма, как правило, однозначно отражает англо-американский тип политической культуры. Политические учения Гоббса, особенно в условиях политической нестабильности, традиционно определяет эмпирический субъект власти. Совершенно неверно полагать, что политическое лидерство фактически означает прагматический референдум.
                             .reviews-list__item
                                 span.title.section-title Лиля, 29 лет
                                 span.text Совершенно неверно полагать, что гуманизм фактически интегрирует политический процесс в современной России. Политическое учение Монтескье, согласно традиционным представлениям, традиционно представляет собой институциональный социализм. Кризис легитимности, на первый взгляд, важно вызывает антропологический субъект политического процесса (терминология М.Фуко). Коммунизм категорически определяет кризис легитимности. Христианско-демократический национализм, как бы это ни казалось парадоксальным, формирует бихевиоризм. Институциализация традиционно интегрирует коммунизм, впрочем, это несколько расходится с концепцией Истона.



        .section-callback(id="callback")
            .container
                .row
                    .col-12.col-md-10.offset-md-1.offset-xl-0.col-xl-7
                        h3.section-title.text-center.text-xl-left Запишитесь
                            br
                            | на консультацию к врачу
                        p.desc.text-center.text-xl-left Мы всегда рады проконсультировать Вас и провести экскурсию по нашей клинике
                    .col-12.col-md-8.offset-md-2.offset-xl-0.col-xl-5
                        form(id="needs-validation",action="mail.php",method="post",role="form",novalidate)
                            input(type="text",class="form-control",name="name",placeholder="Имя",required)
                            input(type="tel",class="form-control",name="phone",placeholder="Телефон",required)
                            input(type="submit",value="Записаться")

        .section-footer
            .container
                .row
                    .col-12.col-md-6.col-xl-4.order-xl-2
                        p.text-center.text-md-left г. Москва,
                            br
                            | ул. Малый Николопесковский переулок, дом 6
                            br
                            | (метро Арбатская, Смоленская)
                            br
                            |
                            strong +7 (499) 450-31-81
                    .col-12.col-md-6.col-xl-4.order-xl-3
                        p.text-center.text-md-left г. Москва,
                            br
                            | ул. Островитянова дом 9 корпус 2
                            br
                            | (метро Коньково)
                            br
                            |
                            strong +7 (499) 737-23-74
                    .col-12.col-xl-4.order-xl-1
                        p.copyright.text-center.text-md-left &copy; Copyright 2018
                            br
                            | Женская детская клиника «Армедика».
                            br
                            | Разработка и продвижение
                            a(href="http://leomaks.ru") Leomaks




        include  includes/_footer.pug